.navbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  background: black;

  padding: 15px 30px;
}

.logo {

  color: white;
}

.nav-links {

  display: flex;

  gap: 20px;
}

.nav-links a {

  color: white;

  text-decoration: none;

  font-size: 18px;
}
.navbar button {

  padding: 8px 12px;

  border: none;

  border-radius: 5px;

  cursor: pointer;
}
@media (max-width: 768px) {

  .navbar {

    flex-direction: column;

    gap: 15px;

    text-align: center;
  }

  .nav-links {

    flex-wrap: wrap;

    justify-content: center;

    gap: 10px;
  }

}